
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  height: 100%;
}

.maincontainer{
  width: 800px;
  border: 10px solid #3bd6f1;
  margin: auto;
  height: calc(100% - 250px);
}

#previewImg{
  width: 100%;
  height: 100%;
  background: white;
}

#contSliderImg{
  background: #3bd6f1;
  width: 800px;
  overflow-x: auto;
  height: 230px;
  display: flex;
  margin: auto;
}

#contSliderImg img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#previewImg img{
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: inline-block;
  
}


div[id^='contImgPreview']{
  min-width: 200px;
  object-fit: contain;
  min-height: 200px;
  padding: 10px;
}
