

html {
    height: 100%;
}

body {
    font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    height: 100%;
  }

div#contImg {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto; 
    border:1px solid grey;
}

div#contImg img:hover {
    box-shadow: 0 0 10px grey;
}

div#contImg img {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}  

#viewImageFull,
.closebtn{
    display: none;
}

#viewImageFull{
    width: 200px;
    position: relative;
}
#viewImageFull img{
    width: 100%;
    background: #000;
}

#closebtn{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30%;
    height: 40px;
    line-height: 40px;
    color: white;
    background: #00000094;
    padding: 0px 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    cursor: pointer;
    font-weight: 800;
}
